.note{
    padding: 25px;
    height: 300px;
    width:  300px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 10px;
}
.note_text{
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    border: none;
    outline: none;
}

.note_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note_footer img{
     cursor: pointer;
     opacity: 0;
     transition: 300ms;
    /* height: 24px; */
    /* width: 24px; */
}
.icon{
    cursor: pointer;
    opacity: 0;
}
.note:hover .note_footer span{
    opacity: 1;
}
.note_title{
    background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  outline: none;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}